* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    padding: 20px 0 20px 0;
    background-color: rgba(0, 55, 138, 0.788);
    color: white;
}


/* Utility */

.min-h {
    min-height: 395px;
}


.text-red {
    color: rgb(150, 0, 0);
}

.text-green {
    color: rgb(0, 107, 0);
}